/* Box utility */
@theme {
  --s1: 1rem;
  --border-width: 4px;
}

@utility box-* {
  --s1: --spacing(--value(integer));
  --border-width: 1px;
  --box-color: var(--foreground);
  --box-bg: var(--background);

  padding: var(--s1);
  border: max(var(--border-width), 0px) solid;
  outline: calc(1px - var(--border-width)) solid transparent;
  color: var(--box-color);
  background-color: var(--box-bg);
}

@utility box-inverted {
  --box-color: var(--background);
  --box-bg: var(--foreground);
}
